{{#header}} version: v1.4 {{/header}}

provision:
{{#teamsAppCreate}} {{/teamsAppCreate}}

{{#script}} FUNC, FUNC_NAME: repair {{/script}}

{{#apiKeyRegister}}ApiSpecAuthName: x-api-key, primaryClientSecret: ${{SECRET_API_KEY}}, apiSpecPath: ./appPackage/apiSpecificationFile/repair.yml, ApiSpecAuthRegistrationIdEnvName: X_API_KEY_REGISTRATION_ID{{/apiKeyRegister}}

{{#teamsAppValidateManifest}} {{/teamsAppValidateManifest}}

{{#teamsAppZipAppPackage}} {{/teamsAppZipAppPackage}}

{{#teamsAppValidateAppPackage}} {{/teamsAppValidateAppPackage}}

{{#teamsAppUpdate}} {{/teamsAppUpdate}}

{{#teamsAppExtendToM365}} {{/teamsAppExtendToM365}}

deploy:
{{#devToolInstall}} func {{/devToolInstall}}

{{#cliRunNpmCommand}} install, args: install --no-audit {{/cliRunNpmCommand}}

{{#fileCreateOrUpdateEnvironmentFile}} target: ./.localConfigs {{/fileCreateOrUpdateEnvironmentFile}}
        API_KEY: ${{SECRET_API_KEY}}