{{#header}} version: 1.0.0 {{/header}}

provision:
{{{teamsAppCreate}}}

{{{botAadAppCreate}}}

{{#botFrameworkCreate}}  {{/botFrameworkCreate}}
{{#script}} TAB {{/script}}
{{{teamsAppValidateManifest}}}
{{#teamsAppZipAppPackage}}  {{/teamsAppZipAppPackage}}
{{{teamsAppValidateAppPackage}}}
{{{teamsAppUpdate}}}

deploy:
{{#devToolInstall}} devCert {{/devToolInstall}}

{{#cliRunNpmCommand}} install, args: install --no-audit {{/cliRunNpmCommand}}

  # Generate runtime environment variables for tab
{{#fileCreateOrUpdateEnvironmentFile}} target: ./tab/.localConfigs, TAB, noComment {{/fileCreateOrUpdateEnvironmentFile}}

  # Generate runtime environment variables for bot
{{#fileCreateOrUpdateEnvironmentFile}} target: ./bot/.localConfigs, BOT, noComment {{/fileCreateOrUpdateEnvironmentFile}}
