# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

/packages/vscode-extension @1openwindow @HuihuiWu-Microsoft @nliu-ms
/packages/vscode-extension/src/commonlib @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @meifans @dooriya
/packages/vscode-extension/src/debug @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @meifans @dooriya
/packages/vscode-extension/test/integration/envChecker @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @meifans @dooriya
/packages/vscode-extension/test/unit/localdebug @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @meifans @dooriya
/packages/vscode-extension/src/resources/Strings.json @timngmsft @1openwindow @HuihuiWu-Microsoft
/packages/vscode-extension/src/migration @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @meifans @dooriya
/packages/vscode-extension/test/unit/migration @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @meifans @dooriya

/packages/cli @chagong @Alive-Fish
/packages/cli/src/commonlib @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @meifans @dooriya
/packages/cli/src/commonlib/appStudioLoginUserPassword.ts @chagong @Alive-Fish
/packages/cli/src/commonlib/azureLoginUserPassword.ts @chagong @Alive-Fish
/packages/cli/src/commonlib/graphLoginUserPassword.ts @chagong @Alive-Fish
/packages/cli/src/commonlib/common/userPasswordConfig.ts @chagong @Alive-Fish
/packages/cli/src/cmds/preview @swatDong @kuojianlu @qinezh @a1exwang @meifans
/packages/cli/tests/e2e/aad @KennethBWSong @adashen @SLdragon
/packages/cli/tests/e2e/collaboration @KennethBWSong @adashen @SLdragon
/packages/cli/tests/e2e/simpleauth @KennethBWSong @adashen @formulahendry
/packages/cli/tests/e2e/sql @xzf0587 @adashen @blackchoey
/packages/cli/tests/e2e/apim @XiaofuHuang @dooriya @kimizhu
/packages/cli/tests/e2e/function @eriolchan @hund030 @IvanJobs
/packages/cli/tests/e2e/frontend @hund030 @eriolchan @IvanJobs
/packages/cli/tests/e2e/bot @IvanJobs @eriolchan
/packages/cli/tests/e2e/scaffold @hund030 @eriolchan @IvanJobs
/packages/cli/tests/e2e/multienv @a1exwang @dooriya @qinezh @xiaolang124 @kimizhu
/packages/cli/tests/e2e/keyvault @adashen @formulahendry @xzf0587
/packages/cli/tests/unit/commonlib @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @meifans @dooriya
/packages/cli/tests/unit/cmds/preview @swatDong @kuojianlu @qinezh @a1exwang @meifans

/packages/api @jayzhang @1yefuwang1 @LongOddCode @nliu-ms
/packages/api/src/schemas @dooriya @qinezh @a1exwang @kimizhu

/packages/sdk @tecton @blackchoey @SLdragon @dilin-MS @wenytang-ms

/packages/fx-core/src/core @jayzhang @LongOddCode @1yefuwang1 @nliu-ms
/packages/fx-core/src/core/middleware/projectMigrator.ts @dooriya @qinezh @a1exwang @meifans @blackchoey @wenytang-ms

/packages/fx-core/src/common/deps-checker @meifans @qinezh @a1exwang @kimizhu @swatDong
/packages/fx-core/tests/common/deps-checker @meifans @qinezh @a1exwang @kimizhu @swatDong

/packages/fx-core/src/plugins/solution/fx-solution @1yefuwang1 @jayzhang @LongOddCode @nliu-ms
/packages/fx-core/src/plugins/solution/fx-solution/utils/depsChecker @a1exwang @kimizhu @meifans @qinezh
/packages/fx-core/src/plugins/solution/fx-solution/debug @kimizhu @swatDong @kuojianlu @XiaofuHuang

/packages/fx-core/src/plugins/resource/aad @KennethBWSong @adashen @SLdragon
/packages/fx-core/tests/plugins/resource/aad @KennethBWSong @adashen @SLdragon

/packages/fx-core/src/plugins/resource/apim @XiaofuHuang @dooriya @kimizhu
/packages/fx-core/tests/plugins/resource/apim @XiaofuHuang @dooriya @kimizhu

/packages/fx-core/src/plugins/resource/appstudio @nliu-ms @jayzhang
/packages/fx-core/tests/plugins/resource/appstudio @nliu-ms @jayzhang

/packages/fx-core/src/plugins/resource/spfx @HuihuiWu-Microsoft @nliu-ms @jayzhang
/packages/fx-core/tests/plugins/resource/spfx @HuihuiWu-Microsoft @nliu-ms @jayzhang

/packages/fx-core/src/plugins/resource/bot @IvanJobs @eriolchan 
/packages/fx-core/tests/plugins/resource/bot @IvanJobs @eriolchan 

/templates/bot @IvanJobs @eriolchan
/templates/bot-msgext @IvanJobs @eriolchan
/templates/msgext @IvanJobs @eriolchan

/packages/fx-core/src/plugins/resource/frontend @hund030 @eriolchan @IvanJobs
/packages/fx-core/tests/plugins/resource/frontend @hund030 @eriolchan @IvanJobs
/packages/fx-core/tests/plugins/resource/dotnet @hund030 @eriolchan @IvanJobs

/packages/fx-core/src/plugins/resource/function @eriolchan @hund030 @IvanJobs
/packages/fx-core/tests/plugins/resource/function @eriolchan @hund030 @IvanJobs
/packages/fx-core/src/plugins/resource/function/utils/depsChecker @a1exwang @kimizhu @meifans @qinezh

/packages/fx-core/src/plugins/resource/identity @xzf0587 @adashen @blackchoey
/packages/fx-core/tests/plugins/resource/identity @xzf0587 @adashen @blackchoey

/packages/fx-core/src/plugins/resource/sql @xzf0587 @adashen @blackchoey
/packages/fx-core/tests/plugins/resource/sql @xzf0587 @adashen @blackchoey

/packages/fx-core/src/plugins/resource/localdebug @swatDong @kuojianlu
/packages/fx-core/tests/plugins/resource/localdebug @swatDong @kuojianlu

/packages/fx-core/src/plugins/resource/simpleauth @KennethBWSong @adashen @formulahendry
/packages/fx-core/tests/plugins/resource/simpleauth @KennethBWSong @adashen @formulahendry

/packages/fx-core/src/plugins/resource/keyvault @adashen @formulahendry @xzf0587
/packages/fx-core/tests/plugins/resource/keyvault @adashen @formulahendry @xzf0587

/packages/fx-core/src/plugins/solution/arm.ts @blackchoey @xzf0587 @dilin-MS @wenytang-ms @adashen
/packages/fx-core/src/common/armInterface.ts @blackchoey @xzf0587 @dilin-MS @wenytang-ms @adashen

/packages/fx-core/src/common/local @kimizhu @swatDong @kuojianlu @XiaofuHuang
/packages/fx-core/tests/common/local @kimizhu @swatDong @kuojianlu @XiaofuHuang

/packages/simpleauth @adashen @blackchoey @wenytang-ms

/packages/function-extension @adashen @blackchoey @dilin-MS

/packages/dotnet-sdk @tecton  @JerryYangKai

/.github/workflows/cd.yml @adashen @LongOddCode @IvanJobs @qinezh @wenytang-ms

/packages/server @chagong @Alive-Fish @jayzhang
