# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

/packages/vscode-extension @1openwindow @HuihuiWu-Microsoft @nliu-ms @tecton
/packages/vscode-extension/src/commonlib @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @dooriya
/packages/vscode-extension/src/debug @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @dooriya
/packages/vscode-extension/test/localdebug @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @dooriya
/packages/vscode-extension/package.nls.json @timngmsft @sffamily @therealjohn @supkasar
/packages/vscode-extension/src/migration @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @dooriya
/packages/vscode-extension/test/migration @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @dooriya
/packages/vscode-extension/README.md @therealjohn @sffamily
/packages/vscode-extension/CHANGELOG.md @therealjohn @sffamily
/packages/vscode-extension/WHATISNEW.md @therealjohn @sffamily
/packages/vscode-extension/PRERELEASE.md @therealjohn @sffamily

/packages/cli @chagong @Alive-Fish @LongOddCode @jayzhang
/packages/cli/src/resource/strings.json @timngmsft @sffamily @therealjohn @supkasar
/packages/cli/src/commonlib @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @dooriya
/packages/cli/src/commonlib/appStudioLoginUserPassword.ts @chagong @Alive-Fish
/packages/cli/src/commonlib/azureLoginUserPassword.ts @chagong @Alive-Fish
/packages/cli/src/commonlib/graphLoginUserPassword.ts @chagong @Alive-Fish
/packages/cli/src/commonlib/common/userPasswordConfig.ts @chagong @Alive-Fish
/packages/cli/src/cmds/m365 @swatDong @kuojianlu @kimizhu
/packages/cli/src/cmds/preview @swatDong @kuojianlu @qinezh @a1exwang
/packages/cli/src/commands @jayzhang @Alive-Fish @MSFT-yiz

/packages/cli/src/commands/models/account.ts @swatDong @xiaolang124 @kimizhu
/packages/cli/src/commands/models/accountLogin.ts @swatDong @xiaolang124 @kimizhu
/packages/cli/src/commands/models/accountLoginAzure.ts @swatDong @xiaolang124 @kimizhu
/packages/cli/src/commands/models/accountLoginM365.ts @swatDong @xiaolang124 @kimizhu
/packages/cli/src/commands/models/accountLogout.ts @swatDong @xiaolang124 @kimizhu
/packages/cli/src/commands/models/accountShow.ts @swatDong @xiaolang124 @kimizhu

/packages/cli/src/commands/models/add.ts @HuihuiWu-Microsoft @nliu-ms @jayzhang @MSFT-yiz
/packages/cli/src/commands/models/addSPFxWebpart.ts @HuihuiWu-Microsoft @yuqizhou77 @nliu-ms @jayzhang @MSFT-yiz

/packages/cli/src/commands/models/m365.ts @swatDong @kuojianlu @kimizhu
/packages/cli/src/commands/models/m365LaunchInfo.ts @swatDong @kuojianlu @kimizhu
/packages/cli/src/commands/models/m365Sideloading.ts @swatDong @kuojianlu @kimizhu
/packages/cli/src/commands/models/m365Unacquire.ts @swatDong @kuojianlu @kimizhu
/packages/cli/src/commands/models/preview.ts @swatDong @kuojianlu @kimizhu

/packages/cli/src/commands/models/package.ts @nliu-ms @jayzhang @MSFT-yiz
/packages/cli/src/commands/models/publish.ts @nliu-ms @jayzhang @MSFT-yiz
/packages/cli/src/commands/models/updateTeamsApp.ts @nliu-ms @jayzhang @MSFT-yiz
/packages/cli/src/commands/models/validate.ts @nliu-ms @jayzhang @MSFT-yiz

/packages/cli/src/commands/models/permission.ts @KennethBWSong @SLdragon @adashen
/packages/cli/src/commands/models/permissionGrant.ts @KennethBWSong @SLdragon @adashen
/packages/cli/src/commands/models/permissionStatus.ts @KennethBWSong @SLdragon @adashen
/packages/cli/src/commands/models/updateAadApp.ts @KennethBWSong @xzf0587 @blackchoey @adashen
/packages/cli/src/commands/models/upgrade.ts @xzf0587 @blackchoey @adashen

/packages/tests/src/e2e/collaboration @KennethBWSong @adashen @SLdragon
/packages/tests/src/e2e/frontend @hund030 @eriolchan @huimiu
/packages/tests/src/e2e/bot @JerryYangKai @eriolchan @Siglud @Yukun-dong
/packages/tests/src/e2e/bot/tdpIntegrationTemplates @yuqizhou77 @nliu-ms @MSFT-yiz
/packages/tests/src/e2e/m365/DebugLinkUnfurling.tests.ts @JerryYangKai @eriolchan @Siglud @Yukun-dong
/packages/tests/src/e2e/m365/DeployLinkUnfurling.tests.ts @JerryYangKai @eriolchan @Siglud @Yukun-dong
/packages/tests/src/e2e/scaffold @hund030 @eriolchan @huimiu
/packages/tests/src/e2e/multienv @a1exwang @dooriya @qinezh @xiaolang124 @kimizhu
/packages/tests/src/e2e/m365 @kimizhu @swatDong @kuojianlu
/packages/tests/src/e2e/m365/ProvisionApiSpecMessageExtension.tests.ts @yuqizhou77 @Alive-Fish
/packages/tests/src/e2e/debug @kimizhu @swatDong @kuojianlu
/packages/tests/src/e2e/samples @LongOddCode @ayachensiyuan
/packages/cli/tests/unit/commonlib @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @dooriya
/packages/cli/tests/unit/cmds/preview @swatDong @kuojianlu @qinezh @a1exwang
/packages/cli/tests/unit/cmds/m365 @swatDong @kuojianlu @kimizhu


/packages/api @jayzhang @LongOddCode @nliu-ms
/packages/api/src/schemas @dooriya @qinezh @a1exwang @kimizhu

/packages/sdk @tecton @blackchoey @SLdragon @wenytang-ms @yiqing-zhao
/packages/sdk/src/conversation @kimizhu @swatDong @a1exwang @XiaofuHuang @dooriya @SLdragon
/packages/sdk/test/unit/node/conversation @kimizhu @swatDong @a1exwang @XiaofuHuang @dooriya

/packages/simpleauth @adashen @blackchoey @wenytang-ms

/packages/function-extension @adashen @blackchoey

/packages/dotnet-sdk @tecton @JerryYangKai @yiqing-zhao
/packages/dotnet-sdk/src/TeamsFx/Conversation @swatDong @dooriya @kimizhu
/packages/dotnet-sdk/src/TeamsFx.Test/Conversation @swatDong @dooriya @kimizhu

/.github/workflows/cd.yml @adashen @LongOddCode @Siglud @qinezh @wenytang-ms
/.github/workflows/templates-ci.yml @hund030 @eriolchan @huimiu
/.github/actions @xzf0587 @wenytang-ms @blackchoey @adashen
/.github/CODEOWNERS @adashen @eriolchan @kimizhu @MSFT-yiz @zhenjiao-ms
/packages/server @chagong @Alive-Fish @jayzhang

/Localize @HuihuiWu-Microsoft @tecton @chagong

/packages/sdk-react @tecton @yiqing-zhao

/templates/* @hund030 @eriolchan @huimiu
/templates/scripts @hund030 @eriolchan @huimiu
/templates/constraints/yml/actions @hund030 @eriolchan @huimiu

/templates/**/api-plugin-from-scratch @hund030 @eriolchan @huimiu
/templates/**/copilot-plugin-from-scratch @hund030 @eriolchan @huimiu
/templates/**/copilot-plugin-from-scratch-api-key @hund030 @eriolchan @huimiu
/templates/**/dashboard-tab @hund030 @eriolchan @huimiu
/templates/**/non-sso-tab @hund030 @eriolchan @Yimin-Jin
/templates/**/non-sso-tab-ssr @Yimin-Jin @eriolchan @hund030
/templates/**/sso-tab @hund030 @eriolchan @Yimin-Jin
/templates/**/sso-tab-ssr @Yimin-Jin @eriolchan @hund030
/templates/**/default-bot @JerryYangKai @eriolchan @Siglud @Yukun-dong
/templates/**/link-unfurling @JerryYangKai @eriolchan @Siglud @Yukun-dong
/templates/**/message-extension-action @JerryYangKai @eriolchan @Siglud @Yukun-dong
/templates/**/message-extension-search @JerryYangKai @eriolchan @Siglud @Yukun-dong
/templates/**/message-extension-copilot @hund030 @eriolchan @huimiu

/templates/**/non-sso-tab-default-bot @hund030 @yuqizhou77
/templates/**/default-bot-message-extension @yuqizhou77 @MSFT-yiz
/templates/**/message-extension @yuqizhou77 @MSFT-yiz
/templates/**/office-addin @jayzhang @nliu-ms
/templates/**/copilot-plugin-existing-api @yuqizhou77 @Alive-Fish @jayzhang
/templates/**/copilot-plugin-existing-api-api-key @yuqizhou77 @Alive-Fish @jayzhang
/templates/**/api-plugin-existing-api @yuqizhou77 @Alive-Fish @jayzhang
/templates/**/spfx-tab @HuihuiWu-Microsoft @yuqizhou77 @nliu-ms @jayzhang
/templates/**/spfx-tab-import @HuihuiWu-Microsoft @yuqizhou77 @nliu-ms @jayzhang

/templates/**/sso-tab-with-obo-flow @Yimin-Jin @hund030 @huimiu @eriolchan

/templates/**/command-and-response @kimizhu @dooriya @swatDong
/templates/**/notification-http-timer-trigger @kimizhu @dooriya @swatDong
/templates/**/notification-http-trigger @kimizhu @dooriya @swatDong
/templates/**/notification-restify @kimizhu @dooriya @swatDong
/templates/**/notification-timer-trigger @kimizhu @dooriya @swatDong
/templates/**/notification-webapi @kimizhu @dooriya @swatDong
/templates/**/workflow @kimizhu @dooriya @swatDong
/templates/**/m365-message-extension @kimizhu @swatDong @kuojianlu
/templates/**/ai-bot @kimizhu @swatDong @kuojianlu
/templates/**/ai-assistant-bot @kimizhu @swatDong @kuojianlu
/templates/**/custom-copilot-basic @kimizhu @swatDong @kuojianlu @XiaofuHuang
/templates/python/custom-copilot-basic @frankqianms @adashen
/templates/**/custom-copilot-assistant-new @kimizhu @swatDong @kuojianlu @XiaofuHuang
/templates/**/custom-copilot-assistant-assistants-api @kimizhu @swatDong @kuojianlu @XiaofuHuang

/packages/fx-core/.eslintignore @LongOddCode @wenytang-ms
/packages/fx-core/.eslintrc.js @LongOddCode @wenytang-ms
/packages/fx-core/.gitignore @LongOddCode @wenytang-ms
/packages/fx-core/.mocharc.js @LongOddCode @wenytang-ms
/packages/fx-core/.nycrc @LongOddCode @wenytang-ms
/packages/fx-core/.prettierignore @LongOddCode @wenytang-ms
/packages/fx-core/.prettierrc.js @LongOddCode @wenytang-ms
/packages/fx-core/.vscode/launch.json @LongOddCode @wenytang-ms
/packages/fx-core/CONTRIBUTING.md @jayzhang @LongOddCode @wenytang-ms
/packages/fx-core/LICENSE.txt @jayzhang @LongOddCode @wenytang-ms
/packages/fx-core/NOTICE.txt @jayzhang @LongOddCode @wenytang-ms
/packages/fx-core/README.md @jayzhang  @LongOddCode @wenytang-ms
/packages/fx-core/package-lock.json @LongOddCode @wenytang-ms
/packages/fx-core/package.json @LongOddCode @wenytang-ms
/packages/fx-core/scripts/delete-unused-strings.js @jayzhang
/packages/fx-core/scripts/find-unused-strings.js @jayzhang
/packages/fx-core/scripts/generate-appdef.ps1 @nliu-ms

/packages/fx-core/src/common/constants.ts @jayzhang @xzf0587 @LongOddCode
/packages/fx-core/tests/constants.ts @jayzhang @xzf0587 @LongOddCode

/packages/fx-core/src/question @jayzhang @xzf0587 @LongOddCode @yuqizhou77 @tecton
/packages/fx-core/tests/question @jayzhang @xzf0587 @LongOddCode @yuqizhou77 @tecton

/packages/fx-core/src/common/correlator.ts @chagong @jayzhang @LongOddCode

/packages/fx-core/src/common/featureFlags.ts @jayzhang @xzf0587 @LongOddCode
/packages/fx-core/tests/common/featureFlags.test.ts @jayzhang @xzf0587 @LongOddCode

/packages/fx-core/src/common/globalState.ts @tecton @jayzhang @LongOddCode
/packages/fx-core/tests/common/globalState.test.ts @tecton @jayzhang @LongOddCode

/packages/fx-core/src/common/jsonUtils.ts @jayzhang @xzf0587 @LongOddCode
/packages/fx-core/src/common/localizeUtils.ts @jayzhang @HuihuiWu-Microsoft @chagong
/packages/fx-core/src/common/permissionInterface.ts @SLdragon @KennethBWSong
/packages/fx-core/src/common/projectSettingsHelper.ts @jayzhang @xzf0587 @LongOddCode
/packages/fx-core/src/common/projectSettingsHelperV3.ts @jayzhang @xzf0587 @LongOddCode
/packages/fx-core/src/common/telemetry.ts @jayzhang @xzf0587 @LongOddCode
/packages/fx-core/src/common/templates-config.json @hund030 @eriolchan @huimiu

/packages/fx-core/src/common/tools.ts @jayzhang @xzf0587 @LongOddCode
/packages/fx-core/tests/common/tools.test.ts @jayzhang @xzf0587 @LongOddCode

/packages/fx-core/src/common/utils.ts @jayzhang @xzf0587 @LongOddCode
/packages/fx-core/tests/common/utils.test.ts @jayzhang @xzf0587 @LongOddCode

/packages/fx-core/src/common/versionMetadata.ts @xzf0587 @blackchoey @adashen
/packages/fx-core/src/failpoint @jayzhang @LongOddCode
/packages/fx-core/tests/core/failpoint.test.ts @jayzhang @LongOddCode
/packages/fx-core/src/folder.ts @jayzhang @xzf0587 @LongOddCode
/packages/fx-core/src/index.ts @jayzhang @xzf0587 @LongOddCode
/packages/fx-core/src/ui/visitor.ts @jayzhang @xzf0587 @LongOddCode

/packages/fx-core/src/component @jayzhang @xzf0587 @hund030 @LongOddCode
/packages/fx-core/test/component @jayzhang @xzf0587 @hund030 @LongOddCode

/packages/fx-core/tests/component/coordinator @jayzhang @xzf0587 @LongOddCode
/packages/fx-core/tests/component/driver/script/scriptDriver.test.ts @jayzhang @LongOddCode
/packages/fx-core/tests/component/envUtil.test.ts @jayzhang @xzf0587 @LongOddCode
/packages/fx-core/tests/component/error.test.ts @jayzhang @xzf0587 @LongOddCode
/packages/fx-core/tests/component/jsonUtils.test.ts @jayzhang @xzf0587 @LongOddCode
/packages/fx-core/tests/component/middleware/helper.ts @jayzhang @xzf0587 @LongOddCode
/packages/fx-core/tests/component/middleware/middleware.test.ts @jayzhang @xzf0587 @LongOddCode
/packages/fx-core/tests/component/provisionUtils.test.ts @jayzhang @xzf0587 @LongOddCode
/packages/fx-core/tests/component/resourceGroupHelper.test.ts @jayzhang @xzf0587 @LongOddCode

/packages/fx-core/tests/component/util/azureAccountMock.ts @Siglud @xiaolang124
/packages/fx-core/tests/component/util/azureResourceOperation.test.ts @Siglud @Yukun-dong
/packages/fx-core/tests/component/util/logProviderMock.ts @Siglud @Yukun-dong
/packages/fx-core/tests/component/util/metadataUtil.test.ts @chagong @jayzhang
/packages/fx-core/tests/component/utils.test.ts @jayzhang @xzf0587 @LongOddCode

/packages/fx-core/tests/core/FxCore.create.test.ts @jayzhang @xzf0587 @LongOddCode
/packages/fx-core/tests/core/FxCore.test.ts @jayzhang @xzf0587 @LongOddCode
/packages/fx-core/tests/core/callback.test.ts @jayzhang @xzf0587 @LongOddCode

/packages/fx-core/tests/core/middleware/ConcurrentLockerMW.test.ts @jayzhang @xzf0587 @LongOddCode
/packages/fx-core/tests/core/middleware/ErrorHandlerMW.test.ts @jayzhang @xzf0587 @LongOddCode
/packages/fx-core/tests/core/middleware/VideoFilterAppBlockerMW.test.ts @a1exwang

/packages/fx-core/tests/core/other.test.ts @jayzhang @xzf0587 @LongOddCode
/packages/fx-core/tests/core/samples_v2.zip  @jayzhang @xzf0587 @LongOddCode
/packages/fx-core/tests/core/tools.test.ts @jayzhang @xzf0587 @LongOddCode
/packages/fx-core/tests/core/utils.ts @jayzhang @xzf0587 @LongOddCode
/packages/fx-core/tests/plugins/solution/util.ts @jayzhang @xzf0587 @LongOddCode
/packages/fx-core/tests/ui/qm.visitor.test.ts @jayzhang @xzf0587 @LongOddCode

/packages/fx-core/tsconfig.json @jayzhang @xzf0587 @LongOddCode
/packages/fx-core/webpack.config.js @jayzhang @xzf0587 @LongOddCode

/packages/fx-core/src/component/debugHandler @swatDong @XiaofuHuang @kuojianlu @kimizhu

/packages/fx-core/src/component/driver/file @swatDong @XiaofuHuang @xiaolang124 @kuojianlu @kimizhu
/packages/fx-core/tests/component/driver/file @swatDong @XiaofuHuang @xiaolang124 @kuojianlu @kimizhu

/packages/fx-core/src/component/driver/botFramework @swatDong @XiaofuHuang @kuojianlu @kimizhu
/packages/fx-core/tests/component/driver/botFramework @swatDong @XiaofuHuang @kuojianlu @kimizhu

/packages/fx-core/src/component/driver/m365 @swatDong @XiaofuHuang @kuojianlu @kimizhu
/packages/fx-core/tests/component/driver/m365 @swatDong @XiaofuHuang @kuojianlu @kimizhu

/packages/fx-core/src/component/driver/devTool @swatDong @XiaofuHuang @kuojianlu @kimizhu
/packages/fx-core/tests/component/driver/devTool @swatDong @XiaofuHuang @kuojianlu @kimizhu

/packages/fx-core/src/component/driver/arm @xzf0587 @blackchoey @adashen
/packages/fx-core/tests/component/driver/arm @xzf0587 @blackchoey @adashen

/packages/fx-core/src/core/middleware/projectMigrationV3 @xzf0587 @frankqianms @blackchoey @adashen
/packages/fx-core/templates/core/v3Migration @xzf0587 @frankqianms @blackchoey @adashen
/packages/fx-core/tests/core/middleware/migration @xzf0587 @frankqianms @blackchoey @adashen
/packages/fx-core/tests/core/middleware/projectVersionChecker.test.ts @xzf0587 @frankqianms @blackchoey @adashen
/packages/fx-core/tests/core/middleware/testAssets @xzf0587 @frankqianms @blackchoey @adashen
/packages/fx-core/tests/samples/sampleV3 @xzf0587 @wenytang-ms @frankqianms @blackchoey @adashen

/packages/fx-core/src/component/driver/aad @blackchoey @wenytang-ms @KennethBWSong @adashen
/packages/fx-core/tests/component/driver/aad @blackchoey @wenytang-ms @KennethBWSong @adashen
/packages/fx-core/src/component/driver/botAadApp @blackchoey @wenytang-ms @KennethBWSong @adashen
/packages/fx-core/tests/component/driver/botAadApp @blackchoey @wenytang-ms @KennethBWSong @adashen
/packages/fx-core/src/component/driver/util/utils.ts @blackchoey @xzf0587 @adashen
/packages/fx-core/tests/component/driver/util/utils.test.ts @blackchoey @xzf0587 @adashen
/packages/fx-core/src/component/driver/apiKey @KennethBWSong @SLdragon @adashen
/packages/fx-core/tests/component/driver/apiKey @KennethBWSong @SLdragon @adashen

/packages/fx-core/src/core/middleware/utils/debug @swatDong @XiaofuHuang @kuojianlu @kimizhu
/packages/fx-core/tests/core/middleware/debug @swatDong @XiaofuHuang @kuojianlu @kimizhu

/packages/fx-core/src/component/driver/deploy/azure @Siglud @Yukun-dong @JerryYangKai @eriolchan
/packages/fx-core/tests/component/driver/deploy/azure/ @Siglud @Yukun-dong @JerryYangKai @eriolchan
/packages/fx-core/tests/component/driver/script @Siglud @Yukun-dong @JerryYangKai @eriolchan
packages/fx-core/src/component/driver/script/baseBuildDriver.ts @Siglud @Yukun-dong @JerryYangKai @eriolchan
packages/fx-core/src/component/driver/script/baseBuildStepDriver.ts @Siglud @Yukun-dong @JerryYangKai @eriolchan
packages/fx-core/src/component/driver/script/dotnetBuildDriver.ts @Siglud @Yukun-dong @JerryYangKai @eriolchan
packages/fx-core/src/component/driver/script/npmBuildDriver.ts @Siglud @Yukun-dong @JerryYangKai @eriolchan

/packages/fx-core/resource/package.nls.json @timngmsft @sffamily @therealjohn @supkasar
/packages/fx-core/resource/package.nls.cs.json @HuihuiWu-Microsoft @chagong @jayzhang
/packages/fx-core/resource/package.nls.de.json @HuihuiWu-Microsoft @chagong @jayzhang
/packages/fx-core/resource/package.nls.es.json @HuihuiWu-Microsoft @chagong @jayzhang
/packages/fx-core/resource/package.nls.fr.json @HuihuiWu-Microsoft @chagong @jayzhang
/packages/fx-core/resource/package.nls.it.json @HuihuiWu-Microsoft @chagong @jayzhang
/packages/fx-core/resource/package.nls.ja.json @HuihuiWu-Microsoft @chagong @jayzhang
/packages/fx-core/resource/package.nls.ko.json @HuihuiWu-Microsoft @chagong @jayzhang
/packages/fx-core/resource/package.nls.pl.json @HuihuiWu-Microsoft @chagong @jayzhang
/packages/fx-core/resource/package.nls.pt-BR.json @HuihuiWu-Microsoft @chagong @jayzhang
/packages/fx-core/resource/package.nls.ru.json @HuihuiWu-Microsoft @chagong @jayzhang
/packages/fx-core/resource/package.nls.tr.json @HuihuiWu-Microsoft @chagong @jayzhang
/packages/fx-core/resource/package.nls.zh-Hans.json @HuihuiWu-Microsoft @chagong @jayzhang
/packages/fx-core/resource/package.nls.zh-Hant.json @HuihuiWu-Microsoft @chagong @jayzhang
/packages/fx-core/resource/package.nls.zh-cn.json @HuihuiWu-Microsoft @chagong @jayzhang
/packages/fx-core/resource/package.nls.zh-tw.json @HuihuiWu-Microsoft @chagong @jayzhang
/packages/fx-core/resource/yaml-schema @jayzhang @wenytang-ms @kuojianlu @Siglud
/packages/fx-core/src/core @jayzhang @LongOddCode @jayzhang @nliu-ms @xzf0587 @hund030

/packages/fx-core/src/component/configManager @jayzhang @wenytang-ms @kuojianlu @Siglud
/packages/fx-core/tests/component/configManager @jayzhang @wenytang-ms @kuojianlu @Siglud

/packages/fx-core/src/error @jayzhang @xzf0587 @hund030 @LongOddCode

/packages/fx-core/src/common/deps-checker @qinezh @a1exwang @kimizhu @swatDong @XiaofuHuang
/packages/fx-core/tests/common/deps-checker @qinezh @a1exwang @kimizhu @swatDong @XiaofuHuang
/packages/fx-core/resource/deps-checker @qinezh @a1exwang @kimizhu @swatDong @XiaofuHuang

/packages/fx-core/src/component/resource/aadApp @KennethBWSong @adashen @SLdragon
/packages/fx-core/tests/component/resource/aadApp @KennethBWSong @adashen @SLdragon

/packages/fx-core/src/component/resource/appManifest @nliu-ms @jayzhang @HuihuiWu-Microsoft
/packages/fx-core/tests/component/resource/appManifest @nliu-ms @jayzhang @HuihuiWu-Microsoft

/packages/fx-core/src/common/samples.ts @HuihuiWu-Microsoft @wenytang-ms @jayzhang @tecton
/packages/fx-core/tests/common/samples.test.ts @HuihuiWu-Microsoft @wenytang-ms @jayzhang @tecton
/packages/fx-core/tests/plugins/resource/spfx @HuihuiWu-Microsoft @yuqizhou77 @nliu-ms @jayzhang

/packages/fx-core/src/component/generator @Yukun-dong @hund030 @JerryYangKai @eriolchan
/packages/fx-core/src/component/generator/copilotPlugin @yuqizhou77 @nliu-ms @Alive-Fish @jayzhang
/packages/fx-core/src/component/generator/officeAddin @jayzhang @LongOddCode
/packages/fx-core/tests/component/generator/officeAddinGenerator.test.ts @jayzhang @LongOddCode
/packages/fx-core/src/component/driver/deploy/spfx @HuihuiWu-Microsoft @yuqizhou77 @nliu-ms @jayzhang
/packages/fx-core/tests/component/driver/deploy/spfx @HuihuiWu-Microsoft @yuqizhou77 @nliu-ms @jayzhang
/packages/fx-core/src/component/driver/add @HuihuiWu-Microsoft @yuqizhou77 @nliu-ms @jayzhang
/packages/fx-core/tests/component/driver/add @HuihuiWu-Microsoft @yuqizhou77 @nliu-ms @jayzhang
/packages/fx-core/src/component/generator/spfx @HuihuiWu-Microsoft @yuqizhou77 @nliu-ms @jayzhang
/packages/fx-core/tests/component/generator/spfxGenerator.test.ts @HuihuiWu-Microsoft @yuqizhou77 @nliu-ms @jayzhang
/packages/fx-core/tests/component/generator/generator.test.ts @Yukun-dong @hund030 @JerryYangKai @eriolchan
/packages/fx-core/tests/component/generator/copilotPluginGenerator.test.ts @yuqizhou77 @nliu-ms @Alive-Fish @jayzhang

/packages/fx-core/src/component/developerPortalScaffoldUtils.ts @yuqizhou77 @nliu-ms @jayzhang
/packages/fx-core/tests/component/developerPortalScaffoldUtils.test.ts @yuqizhou77 @nliu-ms @jayzhang

/packages/fx-core/src/common/local @kimizhu @swatDong @kuojianlu @XiaofuHuang
/packages/fx-core/tests/common/local @kimizhu @swatDong @kuojianlu @XiaofuHuang
/packages/fx-core/src/common/m365 @kimizhu @swatDong @kuojianlu
/packages/fx-core/tests/common/m365 @kimizhu @swatDong @kuojianlu
/packages/fx-core/src/component/resource/botService @kimizhu @swatDong @kuojianlu
/packages/fx-core/tests/component/resource/botService @kimizhu @swatDong @kuojianlu

/packages/fx-core/tests/component/driver/teamsApp @nliu-ms @jayzhang @yuqizhou77
/packages/fx-core/tests/plugins/resource/appstudio @nliu-ms @jayzhang @yuqizhou77
/packages/fx-core/templates/plugins/resource/appstudio @nliu-ms
/packages/fx-core/src/component/driver/middleware/updateProgress.ts @tecton @jayzhang @LongOddCode
/packages/fx-core/tests/component/driver/middleware/updateProgress.test.ts @tecton @jayzhang @LongOddCode

/packages/fx-core/templates/plugins/resource/aad/ @KennethBWSong @xzf0587 @adashen
/packages/fx-core/src/component/feature/collaboration.ts @KennethBWSong @SLdragon @adashen
/packages/fx-core/src/component/feature/createAuthFiles.ts @KennethBWSong @xzf0587 @adashen
/packages/fx-core/src/component/feature/sso.ts @KennethBWSong @xzf0587 @adashen
packages/fx-core/tests/component/feature/sso.test.ts @KennethBWSong @xzf0587 @adashen
packages/fx-core/tests/component/feature/collaborator.test.ts @KennethBWSong @SLdragon @adashen
packages/fx-core/tests/component/feature/collaboration.test.ts @KennethBWSong @SLdragon @adashen
packages/fx-core/tests/core/collaborator.test.ts @KennethBWSong @SLdragon @adashen

packages/fx-core/tests/helpers.ts @jayzhang @MSFT-yiz

packages/manifest/ @jayzhang @MSFT-yiz

packages/spec-parser/ @KennethBWSong @SLdragon @adashen

./lerna.json @wenytang-ms @qinezh @Siglud @LongOddCode
./pnpm-workspace.yaml @wenytang-ms @qinezh @Siglud @LongOddCode