{{#header}} version: v1.7 {{/header}}

provision:
{{#teamsAppCreate}} {{/teamsAppCreate}}

{{#script}} FUNC, FUNC_NAME: repair {{/script}}

{{#apiKeyRegister}}ApiSpecAuthName: apiKey, primaryClientSecret: ${{SECRET_API_KEY}}, apiSpecPath: ./appPackage/apiSpecificationFile/repair.yml, ApiSpecAuthRegistrationIdEnvName: APIKEY_REGISTRATION_ID{{/apiKeyRegister}}

{{#apiKeyUpdate}}ApiSpecAuthName: apiKey, apiSpecPath: ./appPackage/apiSpecificationFile/repair.yml, registrationId: ${{APIKEY_REGISTRATION_ID}}{{/apiKeyUpdate}}

{{#teamsAppValidateManifest}} {{/teamsAppValidateManifest}}

{{#teamsAppZipAppPackage}} {{/teamsAppZipAppPackage}}

{{#teamsAppValidateAppPackage}} {{/teamsAppValidateAppPackage}}

{{#teamsAppUpdate}} {{/teamsAppUpdate}}

{{#teamsAppExtendToM365}} {{/teamsAppExtendToM365}}

deploy:
{{#devToolInstall}} func, funcToolsVersion: ~4.0.5455 {{/devToolInstall}}

{{#cliRunNpmCommand}} install, args: install --no-audit {{/cliRunNpmCommand}}

{{#fileCreateOrUpdateEnvironmentFile}} target: ./.localConfigs {{/fileCreateOrUpdateEnvironmentFile}}
        API_KEY: ${{SECRET_API_KEY}}