.collapsibleStep {
  background-color: var(--vscode-editorHoverWidget-background);
  border-radius: 3px;
}

.Collapsible__trigger {
  display: block;
  text-decoration: none;
  position: relative;
  border: 1px solid var(--vscode-editorHoverWidget-background);
  padding: 14px 20px;
  background-color: var(--vscode-editorHoverWidget-background);
  color: var(--vscode-menu-foreground);
  border-radius: 3px;

  &.is-open {
    .chevron {
      transform: rotate(180deg);
    }
  }

  &.is-disabled {
    opacity: 0.5;
    background-color: grey;
  }
}

.Collapsible__trigger:hover {
  background-color: var(--vscode-sideBySideEditor-horizontalBorder);
}

.Collapsible__contentInner {
  display: block;
  text-decoration: none;
  position: relative;
  border: 1px solid var(--vscode-editorHoverWidget-background);
  padding: 0 20px;
  padding-bottom: 20px;
  background-color: var(--vscode-editorHoverWidget-background);
  color: var(--vscode-breadcrumb-activeSelectionForeground);
  border-radius: 3px;
}

.stepContainer {
  display: flex;
  align-items: center;

  .chevron {
    color: var(--vscode-menu-foreground);
    width: 16px;
    height: 16px;
    transition: transform 300ms;
  }
}

.stepTitle {
  flex: 1;
  color: var(--vscode-menu-foreground);

  p {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 7px;
  }
  
  h2 {
    font-weight: 600;
    font-size: 20px;
    margin: 0 auto;
    border-bottom: none;
  }
}
