.doc {
  margin: auto 10vw;
  min-width: 256px;
  max-width: 1166px;
  color: var(--vscode-foreground);

  h1 {
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 0;
    color: var(--vscode-banner-foreground);
  }

  h2 {
    font-weight: 500;
    font-size: 14px;
    margin-top: 0;
  }

  .image {
    margin-top: 20px;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
  }

  th {
    background-color: var(--vscode-tab-inactiveBackground);
  }
  
  td, th {
    // border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid var(--vscode-editor-wordHighlightBackground);
  }

  .code {
    border: 1px solid var(--vscode-editor-background);
    background-color: var(--vscode-editor-background);
    border-radius: 3px;
  }

  .collapsibleSteps {
    margin-bottom: 20px;
  }
}
