.markdown-body {
  box-sizing: border-box;
  margin: auto 10vw;
  min-width: 256px;
  max-width: 1166px;
  color: var(--vscode-foreground);
  background-color: var(--vscode-editor-background);
  padding: 45px;

  .collapsibleSteps {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}