{{#header}} version: 1.0.0 {{/header}}

provision:
{{#teamsAppCreate}} {{/teamsAppCreate}}

{{#botAadAppCreate}} {{/botAadAppCreate}}

{{#botFrameworkCreate}} m365extensions {{/botFrameworkCreate}}

{{#teamsAppValidateManifest}} {{/teamsAppValidateManifest}}

{{#teamsAppZipAppPackage}} {{/teamsAppZipAppPackage}}
{{#teamsAppValidateAppPackage}} {{/teamsAppValidateAppPackage}}

{{#teamsAppUpdate}} {{/teamsAppUpdate}}

{{#teamsAppExtendToM365}} {{/teamsAppExtendToM365}}

deploy:
{{#cliRunNpmCommand}} install, args: install --no-audit {{/cliRunNpmCommand}}
{{#fileCreateOrUpdateEnvironmentFile}} target: ./.localConfigs, BOT {{/fileCreateOrUpdateEnvironmentFile}}
