using System;
using Microsoft.AspNetCore.Builder;
using Microsoft.AspNetCore.Hosting;
using Microsoft.Extensions.DependencyInjection;
using Microsoft.Extensions.Hosting;
using {{placeholder}};
{{#IS_TAB}}
using Microsoft.TeamsFx.SimpleAuth;
using {{placeholder}}.Interop.TeamsSDK;
{{/IS_TAB}}{{#IS_BOT}}
using {{placeholder}}.Bots;
using Microsoft.Bot.Builder;
using Microsoft.Bot.Builder.Integration.AspNet.Core;
{{/IS_BOT}}

var builder = WebApplication.CreateBuilder(args);

{{#IS_TAB}}
builder.Services.AddRazorPages();
builder.Services.AddServerSideBlazor();

builder.Services.AddTeamsFxSimpleAuth(builder.Configuration);
builder.Services.AddTeamsFx(builder.Configuration.GetSection("TeamsFx"));
builder.Services.AddScoped<MicrosoftTeams>();

{{/IS_TAB}}
builder.Services.AddControllers();
builder.Services.AddHttpClient("WebClient", client => client.Timeout = TimeSpan.FromSeconds(600));
builder.Services.AddHttpContextAccessor();

{{#IS_BOT}}
// Create the Bot Framework Adapter with error handling enabled.
builder.Services.AddSingleton<IBotFrameworkHttpAdapter, AdapterWithErrorHandler>();

// Create the bot as a transient. In this case the ASP Controller is expecting an IBot.
builder.Services.AddTransient<IBot, TeamsBot>();

{{/IS_BOT}}
var app = builder.Build();

if (app.Environment.IsDevelopment())
{
    app.UseDeveloperExceptionPage();
}
{{#IS_TAB}}
else
{
    app.UseExceptionHandler("/Error");
    // The default HSTS value is 30 days. You may want to change this for production scenarios, see https://aka.ms/aspnetcore-hsts.
    app.UseHsts();
}
{{/IS_TAB}}
app.UseStaticFiles();

app.UseRouting();

app.UseAuthentication();
app.UseAuthorization();

app.UseEndpoints(endpoints =>
{
{{#IS_TAB}}
    endpoints.MapBlazorHub();
    endpoints.MapFallbackToPage("/_Host");
{{/IS_TAB}}
    endpoints.MapControllers();
});

app.Run();

