{{#header}} version: 1.0.0 {{/header}}

provision:
{{#aadAppCreate}} {{/aadAppCreate}}

{{#teamsAppCreate}} {{/teamsAppCreate}}

{{#script}} TAB, FUNC {{/script}}

{{#aadAppUpdate}} {{/aadAppUpdate}}

{{#teamsAppValidateManifest}} {{/teamsAppValidateManifest}}

{{#teamsAppZipAppPackage}} {{/teamsAppZipAppPackage}}

{{#teamsAppValidateAppPackage}} {{/teamsAppValidateAppPackage}}

{{#teamsAppUpdate}} {{/teamsAppUpdate}}

{{#teamsAppExtendToM365}} {{/teamsAppExtendToM365}}

deploy:
{{#devToolInstall}} devCert, func, funcToolsVersion: ~4.0.5455 {{/devToolInstall}}

{{#cliRunNpmCommand}} install, args: install --no-audit {{/cliRunNpmCommand}}

{{#cliRunNpmCommand}} install, workingDirectory: api, args: install --no-audit {{/cliRunNpmCommand}}

  # Generate runtime environment variables for tab
{{#fileCreateOrUpdateEnvironmentFile}} target: ./.localConfigs, TAB, noComment {{/fileCreateOrUpdateEnvironmentFile}}
        REACT_APP_CLIENT_ID: ${{AAD_APP_CLIENT_ID}}
        REACT_APP_START_LOGIN_PAGE_URL: ${{TAB_ENDPOINT}}/auth-start.html
        REACT_APP_FUNC_NAME: ${{FUNC_NAME}}
        REACT_APP_FUNC_ENDPOINT: ${{FUNC_ENDPOINT}}

  # Generate runtime environment variables for backend
{{#fileCreateOrUpdateEnvironmentFile}} target: ./api/.localConfigs, noComment {{/fileCreateOrUpdateEnvironmentFile}}
        M365_CLIENT_ID: ${{AAD_APP_CLIENT_ID}}
        M365_CLIENT_SECRET: ${{SECRET_AAD_APP_CLIENT_SECRET}}
        M365_TENANT_ID: ${{AAD_APP_TENANT_ID}}
        M365_AUTHORITY_HOST: ${{AAD_APP_OAUTH_AUTHORITY_HOST}}
        ALLOWED_APP_IDS: 1fec8e78-bce4-4aaf-ab1b-5451cc387264;5e3ce6c0-2b1f-4285-8d4b-75ee78787346;0ec893e0-5785-4de6-99da-4ed124e5296c;4345a7b9-9a63-4910-a426-35363201d503;4765445b-32c6-49b0-83e6-1d93765276ca;d3590ed6-52b3-4102-aeff-aad2292ab01c;00000002-0000-0ff1-ce00-000000000000;bc59ab01-8403-45c6-8796-ac3ef710b3e3
