{{#header}} version: 1.0.0 {{/header}}

provision:
{{#teamsAppCreate}} {{/teamsAppCreate}}

{{#script}} TAB {{/script}}
{{#teamsAppValidateManifest}} {{/teamsAppValidateManifest}}
{{#teamsAppZipAppPackage}} {{/teamsAppZipAppPackage}}
{{#teamsAppValidateAppPackage}} {{/teamsAppValidateAppPackage}}
{{#teamsAppUpdate}} {{/teamsAppUpdate}}
{{#teamsAppExtendToM365}} {{/teamsAppExtendToM365}}

deploy:
{{#devToolInstall}} devCert {{/devToolInstall}}
{{#cliRunNpmCommand}} install, args: install --no-audit {{/cliRunNpmCommand}}
{{#fileCreateOrUpdateEnvironmentFile}} target: ./.localConfigs, TAB {{/fileCreateOrUpdateEnvironmentFile}}
