@if (loading)
{
	<div style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
		<FluentProgressRing />
	</div>
}
else
{
	@ChildContent
}

@code {
	[Parameter]
	public bool loading { get; set; }

	[Parameter]
	public RenderFragment ChildContent { get; set; }
}