.sample-filter {
  display: flex;
  flex-direction: column;
}

.sample-filter-bar {
  display: flex;
  flex-direction: row;

  .search-box {
    width: 200px;

    .codicon-close {
      width: 20px;
      height: 20px;
      font-size: 20px;
    }

    .hide {
      display: none;
    }
  }

  .search-box::part(root) {
    border-radius: 2px;
  }

  .filter-bar {
    flex-grow: 1;
  }

  .view-button {
    height: 24px;
    width: 24px;
    margin-left: 8px;
  }

  .view-selected {
    border-radius: 4px;
    background: var(--vscode-checkbox-border, #3c3c3c);
  }

  .filter-dropdown {
    width: 146px;
    margin-left: 16px;
    border-radius: 5px;
    z-index: 3;
  }

  .filter-dropdown::part(control) {
    border-radius: 5px;
  }
}

.filter-tag-bar {
  display: flex;
  margin-top: 18px;
  margin-bottom: 15px;

  .filter-tag {
    margin-right: 16px;

    &::part(control) {
      font-size: 14px;
      padding: 1px 8px 3px 8px;
      background-color: var(--vscode-keybindingLabel-border, #333333);
      color: var(--vscode-editor-foreground, #cccccc);
      border: 0;
    }

    .codicon-close {
      padding-left: 8px;
      position: relative;
      top: 2.5px;
    }
  }

  button {
    height: 24px;
    margin-left: 8px;
    font-size: 14px;
    padding: 0;
    margin: 0;
    color: var(--vscode-textLink-foreground);

    :active {
      color: var(--vscode-textLink-foreground);
    }
  }
}