.sample-gallery {
  .sample-card {
    flex: 1 1 auto;
    background-color: var(--vscode-editorWidget-background);
    border-radius: 6px;
    height: auto;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 2px 16px rgb(0 0 0 / 36%);
    display: flex;
    flex-direction: column;

    .thumbnail {
      img {
        aspect-ratio: 40 / 23;
      }
    }

    .infoBox {
      padding-top: 8px;
      padding-bottom: 16px;
    }

    .hidden-label {
      position: absolute;
      top: auto;
      left: -9999px;
      width: 1px;
      height: 1px;
      overflow: hidden;
    }

    .unavailableSampleImage {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      aspect-ratio: 40/23; // 1600:920 ratio

      .turtle {
        margin-top: 25px;
      }

      h3 {
        color: #BBB;
        margin-top: 12px;
      }
    }

    .tagSection {
      display: flex;
      flex-wrap: wrap;
      padding: 0px 10px 0px 10px;
    }

    .ms-Image {
      border-radius: 6px 6px 0 0;
    }

    .tag {
      margin: 4px 8px 0px 0px;
      height: 16px;
      font-size: 13px;
      padding: 2px 8px;
      flex-shrink: 0;
      border: 0;
      border-radius: 2px;

      span {
        display: inline-block;
        height: 16px;
        top: -1.5px;
        position: relative;
      }
    }

    h3 {
      font-size: 13px;
      text-align: center;
      color: var(--vscode-debugConsole-sourceForeground);
      font-weight: 600;
      text-align: left;
      margin: 8px 10px 4px 10px;
      line-height: 16px;
    }

    button {
      font-size: 13px;
      text-align: center;
      background-color: var(--vscode-button-background);
      height: 28px;
      padding: 6px 11px 6px 11px;
      border-radius: 0px;
    }

    span {
      font-weight: normal;
    }

    .buttons {
      position: absolute;
      bottom: 12px;
      right: 12px;
    }

    .right-aligned {
      margin-right: 0px;
      margin-left: 10px;
      width: auto;
    }
  }

  .sample-card.unavailable {
    .tooltip {
      visibility: hidden;
      width: 90px;
      background-color: #E5E5E5;
      color: #606060;
      text-align: center;
      border-radius: 4px;
      padding: 4px 1px;

      position: absolute;
      z-index: 1;
      top: 75%;
      left: 60%;
    }

    .tooltip.upgrade {
      width: 180px;
    }
  }

  .sample-card.unavailable:hover .tooltip {
    visibility: visible;
  }
}

body.vscode-light {
  .sample-card {
    background-color: #FFF;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 16%);
  }

  .sample-card:not(.unavailable):hover {
    background-color: #F0F0F0;
  }

  .tag {
    background-color: #E5E5E5;
    color: #606060;
  }
}

body.vscode-dark {
  .sample-card {
    background-color: #252526;
    box-shadow: 0px 2px 16px rgb(0 0 0 / 36%);
  }

  .sample-card:not(.unavailable):hover {
    background-color: #303031;
  }

  .tag {
    background-color: #333333;
    color: #CCCCCC;
  }
}

@media only screen and (max-width: 5000px) {
  .sample-card {
    --total-width: calc(100% - 100px);
    width: calc(var(--total-width) / 6);
    max-width: calc(var(--total-width) / 6);
  }
}

@media only screen and (max-width: 1680px) {
  .sample-card {
    --total-width: calc(100% - 80px);
    width: calc(var(--total-width) / 5);
    max-width: calc(var(--total-width) / 5);
  }
}

@media only screen and (max-width: 1344px) {
  .sample-card {
    --total-width: calc(100% - 60px);
    width: calc(var(--total-width) / 4);
    max-width: calc(var(--total-width) / 4);
  }
}

@media only screen and (max-width: 1024px) {
  .sample-card {
    --total-width: calc(100% - 40px);
    width: calc(var(--total-width) / 3);
    max-width: calc(var(--total-width) / 3);
  }
}

@media only screen and (max-width: 768px) {
  .sample-card {
    --total-width: calc(100% - 20px);
    width: calc(var(--total-width) / 2);
    max-width: calc(var(--total-width) / 2);
  }
}
