.codeSnippet {
  display: flex;
  flex-direction: column;

  .codeTitle {
    display: flex;
    justify-content: flex-end;
    background-color: var(--vscode-editorGroup-border);
    border-radius: 6px 6px 0 0;
    height: 36px;

    .copyButton {
      color: var(--vscode-breadcrumb-activeSelectionForeground);
      height: 26px;
      width: 58px;
      margin-top: 5px;
      margin-right: 5px;
      display: flex;
      padding: 0 8.5px;

      i {
        padding: 2px;
      }

      button {
        padding: 5px;
        height: 26px;
        background-color: inherit;
        border: none;
        color: inherit;
      }
    }

    .copyButton:hover {
      background-color: var(--vscode-editor-background);
    }

    .copiedButton {
      background-color: var(--vscode-editorGutter-addedBackground);
      color: var(--vscode-breadcrumb-activeSelectionForeground);
      height: 26px;
      width: 75px;
      margin-top: 5px;
      margin-right: 5px;
      display: flex;
      justify-content: center;
    }
  }

  pre {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 0;
  }

  .codeBlock {
    background: var(--vscode-editor-background) !important;
    padding-bottom: 16px !important;
  }
}
