  # Register API KEY
  - uses: apiKey/register
    with:
      # Name of the API Key
      name: {{ApiSpecAuthName}}
      {{#primaryClientSecret}}
      # Value of the API Key
      primaryClientSecret: {{{primaryClientSecret}}}
      {{/primaryClientSecret}}
      # Teams app ID
      appId: ${{TEAMS_APP_ID}}
      {{#apiSpecPath}}
      # Path to OpenAPI description document
      apiSpecPath: {{{apiSpecPath}}}
      {{/apiSpecPath}}
    # Write the registration information of API Key into environment file for
    # the specified environment variable(s).
    writeToEnvironmentFile:
      registrationId: {{ApiSpecAuthRegistrationIdEnvName}}