  # Deploy bits to Azure Static Web Apps
  - uses: cli/runNpxCommand
    name: deploy to Azure Static Web Apps
    with:
      args: '@azure/static-web-apps-cli deploy {{{artifactFolder}}} -d ${{SECRET_TAB_SWA_DEPLOYMENT_TOKEN}} --env production'