 {{^noComment}}
  # Generate runtime environment variables
 {{/noComment}}
 {{#BOT_DEV_TUNNEL}}
  # Add BOT_ENDPOINT, BOT_DOMAIN to local environment file
 {{/BOT_DEV_TUNNEL}}
  - uses: file/createOrUpdateEnvironmentFile
    with:
  {{#target}}
      target: {{{target}}}
  {{/target}}
  {{^target}}
      target: ./.localConfigs
  {{/target}}
      envs:
  {{#BOT}}
        BOT_ID: ${{BOT_ID}}
        BOT_PASSWORD: ${{SECRET_BOT_PASSWORD}}
  {{/BOT}}
  {{#TAB}}
        BROWSER: none
        HTTPS: true
        PORT: 53000
        SSL_CRT_FILE: ${{SSL_CRT_FILE}}
        SSL_KEY_FILE: ${{SSL_KEY_FILE}}
  {{/TAB}}
  {{#COPILOT}}
        OPENAPI_SERVER_URL: https://${{DEV_TUNNEL_URL}}
  {{/COPILOT}}
  {{#BOT_DEV_TUNNEL}}
        BOT_ENDPOINT: https://${{DEV_TUNNEL_URL}}
        BOT_DOMAIN: ${{DEV_TUNNEL_URL}}
  {{/BOT_DEV_TUNNEL}}