# yaml-language-server: $schema=https://aka.ms/teams-toolkit/{{{version}}}/yaml.schema.json
# Visit https://aka.ms/teamsfx-v5.0-guide for details on this file
# Visit https://aka.ms/teamsfx-actions for details on actions
version: {{{version}}}