  # Validate app package with the test cases Microsoft uses before they publish it
  - uses: teamsApp/validateForTestCases
    with:
      # Relative path to this file. This is the path for built zip file.
      appPackagePath: ./appPackage/build/appPackage.${{TEAMSFX_ENV}}.zip