.quick-start-page{
    margin: 100px 100px 100px 100px;

    a{
        text-decoration: none;
    }
  
    .section{
        display: flex;
        margin-bottom: 36px;
    }

    .flex-section{
        display: flex;
    }

    .table-of-contents{
        width: 50%;
        margin-right: 90px;
    }

    .logo{
        width: 28px;
        height: 28px;
        font-size: 28px;
        color: var(--vscode-textLink-foreground);
    }

    .title{
        width: auto;
        margin-left: 12px;

        h2{
            font-size: 26px;
            line-height: 30px;
            margin-top: 0px;
            margin-bottom: 0px;
            font-weight: normal;
            color: var(--vscode-titleBar-activeForeground);
        }

        h3{
            font-size: 12px;
            line-height: 14px;
            margin-top: 0px;
            margin-bottom: 0px;
            font-weight: normal;
            color: var(--vscode-titleBar-activeForeground);
        }
    }

    .stage{
        width: 50%;
        overflow: hidden;

        .player{
            position: relative;
        }

        .capabilitiesVideo {
            width: 100%;
            height: auto;
        }

        .watchOnBrowser {
            position: absolute;
            background: rgba(0,0,0,.5);
            top: 0;
            right: 0;
            margin: 10px;
            border: 0;
            color: #EEE;
            -webkit-border-radius: 3px;
            border-radius: 3px;
        }
        
        .watchOnBrowser:hover {
            cursor: pointer;
        }
    }

    video::-webkit-media-controls-fullscreen-button {
        display: none;
    }

    .action-card{
        border-radius: 4px;
        padding: 12px 12px 12px 12px;
        margin-bottom: 12px;
        background-color: var(--vscode-editorWidget-background);

        .action-title{
            font-size: 13px;
            line-height: 15px;
            color: var(--vscode-badge-foreground);
        }
    }

    .collapse-action-card{
        padding: 12px 12px 12px 12px;
        margin-bottom: 12px;
        cursor: pointer;
    }

    .action-icon{
        min-width: 16px;
        margin-right: 8px;
        font-size: 16px;
    }

    .action-title{
        font-size: 13px;
        line-height: 15px;
        color: var(--vscode-menu-foreground);
    }

    .action-content{
        font-size: 12px;
        color: var(--vscode-sideBarTitle-foreground);
    }

    .left{
        float: left;

        button{
            background-color: var(--vscode-button-background);
            border-radius: 0px;
            height: 28px;
            padding: 6px 11px 6px 11px;
        }

        span{
            font-size: 13px;
            line-height: 15px;
            align-items: center;
            text-align: center;
            font-weight: normal;
        }
    }

    .right{
        float: right;

        span{
            font-size: 13px;
            line-height: 15px;
            align-items: center;
            text-align: center;
            color: var(--vscode-textLink-foreground);
        }
    }

    .tip{
        color: #808080;
        font-size: 11px;
        line-height: 16px;
        align-items: center;
    }

    .card-line{
        margin-bottom: 8px;
    }

    .left-right-align{
        overflow: hidden;
    }
}

