.sampleDetail{
    margin: 20px auto;
    min-width: 256px;
    max-width: 1166px;
    color: var(--vscode-editor-foreground);

    button{
        width: 51px;
        height: 16px;
        font-size: 13px;
        padding: 0;
        margin: 0;
        color: var(--vscode-textLink-foreground);

        span>i{
                font-size: 12px;
                width: 14px;
                height: 14px;
                color: var(--vscode-textLink-foreground);
        }

        :active{
            color: var(--vscode-textLink-foreground);
        }
    }

    .header{
        display: grid;
        grid-template-columns: auto max-content;
        margin: 44px 0 12px 0;

        .contents{
            min-width: 205px;
            grid-column: 1/2;
        }

        h2{
            font-size: 26px;
            margin: auto 0 12px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: 600;
            line-height: 31px;
        }

        .buttons{
            grid-column: 2/3;
            margin: 0 0 auto auto;
            display: flex;

            vscode-button{
                margin-left: 8px;
                margin-right: 0px;
                width: max-content;
            }
        }
    }

    .tags{
        vscode-tag{
            margin-right: 8px;
        }
    }

    .info{
        display: flex;
        height: 24px;
        font-size: 11px;
        line-height: 11px;  

        .ms-Image{
            width: 16px;
            height: 16px;
            margin: auto 0; 
        }

        label{
            padding-left: 4px;
            margin: auto 0;
        }
    }

    .estimation-time{
        margin-top: 8px;

        .watch{
            width: 16px;
            height: 16px;
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    .configuration{
        margin-top: 4px;
        margin-bottom: 16px;

        .setting{
            width: 16px;
            height: 16px;
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    .description{
        margin-top: 16px;
        word-break: break-all;
    }
}

@media only screen and (max-width: 1366px) {
  .sampleDetail{
    margin: 20px 100px;
  }
}

@media only screen and (max-width: 640px) {
  .sampleDetail{
    margin: 20px 32px;

    .header{
        grid-template-columns: 100%;

        h2{
            word-break: break-all;
            overflow:inherit;
            text-overflow:inherit;
            white-space: normal;
        }

        .contents{
            grid-column: 1/2;
        }

        .buttons{
            margin: 12px auto auto 0;
            grid-column: 1/2;
    
            vscode-button{
                margin-left: 0px;
                margin-right: 8px;
            }
        }
    }
  }
}