.progress-indicator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin: 4rem auto;
}

.progress-indicator .progress-item .check {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #ccc;
  display: block;
  margin: 4px auto;
}

.progress-indicator .progress-item.selected .check {
  background-color: #6264A7;
}

.progress-indicator .progress-item .content {
  color: #a19f9d;
  margin: 12px 0;
}

.progress-indicator .progress-item.selected .content {
  color: #605e5c;
  font-weight: 600;
}

.progress-indicator .progress-item .check {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

.progress-indicator .progress-item {
  max-width: 120px;
  text-align: center;
}

.progress-indicator .line {
  position: absolute;
  top: 0;
  left: 42px;
  right: 42px;
  margin: 11px;
  border-bottom: 2px solid #ccc;
}