{{#header}} version: 1.1.0 {{/header}}

environmentFolderPath: ./env

# Triggered when 'teamsapp provision' is executed
provision:
{{#aadAppCreate}} skipClientSecret {{/aadAppCreate}}

{{#teamsAppCreate}} {{/teamsAppCreate}}

{{#armDeploy}} deploymentName: Create-resources-for-sme {{/armDeploy}}

{{#aadAppUpdate}} {{/aadAppUpdate}}

{{#teamsAppValidateManifest}} {{/teamsAppValidateManifest}}

{{#teamsAppZipAppPackage}} {{/teamsAppZipAppPackage}}

{{#teamsAppValidateAppPackage}} {{/teamsAppValidateAppPackage}}

{{#teamsAppUpdate}} {{/teamsAppUpdate}}

{{#teamsAppExtendToM365}} {{/teamsAppExtendToM365}}

# Triggered when 'teamsapp deploy' is executed
deploy:
{{#cliRunDotnetCommand}} publish {{/cliRunDotnetCommand}}
{{#azureFunctionsZipDeploy}}
  artifactFolder: bin/Release/{{TargetFramework}}/publish,
  resourceId: ${{API_FUNCTION_RESOURCE_ID}}
{{/azureFunctionsZipDeploy}}
