{{#header}} version: v1.4 {{/header}}

environmentFolderPath: ./env

# Triggered when 'teamsapp provision' is executed
provision:
{{#armDeploy}} deploymentName: Create-resources-for-tab {{/armDeploy}}

{{#azureStaticWebAppGetDeploymentToken}} {{/azureStaticWebAppGetDeploymentToken}}

# Triggered when 'teamsapp deploy' is executed
deploy:
{{#cliRunNpmCommand}} install, args: install {{/cliRunNpmCommand}}
{{#cliRunNpmCommand}} args: run build --if-present, build {{/cliRunNpmCommand}}
{{#azureStaticWebAppDeploy}} artifactFolder: dist {{/azureStaticWebAppDeploy}}
