{{#header}} version: 1.1.0 {{/header}}

provision:
{{{teamsAppCreate}}}

{{{botAadAppCreate}}}

{{#fileCreateOrUpdateJsonFile}} appsettings, BOT {{/fileCreateOrUpdateJsonFile}}

{{#botFrameworkCreate}}  {{/botFrameworkCreate}}

{{{teamsAppValidateManifest}}}
{{#teamsAppZipAppPackage}}  {{/teamsAppZipAppPackage}}
{{{teamsAppValidateAppPackage}}}

{{{teamsAppUpdate}}}

{{#fileCreateOrUpdateJsonFile}}
{
  "launchSettings": true,
  "localstore": true,
  "commandLineArgs": "\"host start --port 5130 --pause-on-error\""
  }
{{/fileCreateOrUpdateJsonFile}}
