  # Install development tool(s)
  - uses: devTool/install
    with:
{{#devCert}}
      devCert:
        trust: true
{{/devCert}}
{{#funcTool}}
      func:
        version: ~4.0.4670
        symlinkDir: ./devTools/func
{{/funcTool}}
{{#dotnet}}
      dotnet: true
{{/dotnet}}
    # Write the information of installed development tool(s) into environment
    # file for the specified environment variable(s).
    writeToEnvironmentFile:
{{#devCert}}
      sslCertFile: SSL_CRT_FILE
      sslKeyFile: SSL_KEY_FILE
{{/devCert}}
{{#funcTool}}
      funcPath: FUNC_PATH
{{/funcTool}}
{{#dotnet}}
      dotnetPath: DOTNET_PATH
{{/dotnet}}