{{#header}} version: 1.0.0 {{/header}}

environmentFolderPath: ./env

# Triggered when 'teamsfx deploy' is executed
deploy:
{{#cliRunNpmCommand}} install, workingDirectory: src, args: install {{/cliRunNpmCommand}}
{{#cliRunNpxCommand}} workingDirectory: src, bundle {{/cliRunNpxCommand}}
{{#cliRunNpxCommand}} workingDirectory: src, package {{/cliRunNpxCommand}}
{{{spfxDeploy}}}

# Triggered when 'teamsfx provision' is executed
provision:
{{{teamsAppCreate}}}

{{{teamsAppValidateManifest}}}
{{#teamsAppZipAppPackage}}  {{/teamsAppZipAppPackage}}
{{{teamsAppUpdate}}}
{{{teamsAppExtendToM365}}}

# Triggered when 'teamsfx publish' is executed
publish:
{{{teamsAppValidateManifest}}}
{{#teamsAppZipAppPackage}}  {{/teamsAppZipAppPackage}}
{{{teamsAppCopyAppPackageToSPFx}}}
{{{teamsAppUpdate}}}
{{{teamsAppPublishAppPackage}}}
